name: OrangeHRM RabbitMQ Image Build Workflow

on:
    push:
      branches: [ rabbitmq-3.8.2-ubuntu-20.04 ]   
    pull_request:
      branches: [ rabbitmq-3.8.2-ubuntu-20.04 ]

env:
    REGISTRY: hub.docker.com
    DOCKER_HUB_REPO: "orangehrm/orangehrm-rabbitmq"
    TAG_NAME: "rabbitmq-3.8.2-ubuntu-20.04"
    UPSTREAM_REPO: "orangehrm/orangehrm-rabbitmq-images"
    UPSTREAM_BRANCH: "refs/heads/rabbitmq-3.8.2-ubuntu-20.04"

jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            
            - name: Verify prerequisits
              run: |
                docker --version
                docker-compose --version
                composer --version
            
            - name: Install test suite dependencis
              run: composer install
                          
            - name: Build docker image
              run: docker build -t ${{ env.DOCKER_HUB_REPO }}:${{ env.TAG_NAME }} docker-image

            - name: Spin up a container
              run: | 
                docker-compose up -d
                docker ps -a

            - name: Run unit test suite
              run: |
                sleep 10s
                php vendor/bin/codecept run unit
              
            - name: Docker hub login
              if: ${{ github.repository == env.UPSTREAM_REPO && github.ref == env.UPSTREAM_BRANCH && github.event.pull_request.merged}}
              run: docker login -u=${{ secrets.DOCKER_HUB_USERNAME }} -p=${{ secrets.DOCKER_HUB_PASSWORD }}

            - name: Deploy changes to the docker hub
              if: ${{ github.repository == env.UPSTREAM_REPO && github.ref == env.UPSTREAM_BRANCH && github.event.pull_request.merged}}
              run: docker push ${{ env.DOCKER_HUB_REPO }}:${{ env.TAG_NAME }}
              
            - name: Docker hub logout
              if: ${{ github.repository == env.UPSTREAM_REPO && github.ref == env.UPSTREAM_BRANCH && github.event.pull_request.merged }}
              run: docker logout